<h1>receiver-info-page</h1>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" value="Nav Sandhu">
                </td>
            </tr>
            <tr>
                <td>BSB</td>
                <td>
                    <input type="text" value="032854">
                </td>
            </tr>
            <tr>
                <td>Account No.</td>
                <td>
                    <input type="text" value="8886868668">
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <input type="text" value="India">
                </td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td>
                    <input type="text" value="560010">
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <input type="text" value="Karnataka">
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <input type="text" value="Bangalore">
                </td>
            </tr>
            <tr>
                <td>Address Line 1</td>
                <td>
                    <input type="text" value="102 MG Road">
                </td>
            </tr>
            <tr>
                <td>Address Line 2</td>
                <td>
                    <input type="text" value="">
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" ng-click="ContinueToPaymentScreen()">Proceed to enter Receiver Details</button>
</div>
<br>

<button type="button" class="btn btn-info" ng-click="goToLoginScreen()">Go Back to Login Screen</button>
